{% extends "layout.html.twig" %}

{% block body %}
    <header>
        {{ include("partial/appbranding.html.twig") }}
        <nav class="account">
            {% if not authenticated() %}
                <a href="{{ url_for('login') }}">Zaloguj się</a>
            {% else %}
                <a href="{{ url_for('library') }}" class="btn-library"
                   title="Przejdż do twojej biblioteki wideo">Biblioteka</a>
                <div class="user"
                     title="Zalogowano na użytkownika {{ username() }}"><i class="fa-solid fa-circle-user"></i><span class="username">{{ username() }}</span></div>
                <a href="{{ url_for('logout') }}" title="Wyloguj" class="btn-logout"><i class="fa-solid fa-right-from-bracket"></i></a>
            {% endif %}
        </nav>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>
        <p>Wideo Chmurka. Projekt prostego serwisu do nagrywania pulpitu i publikowania wideo wykonany w technologii PHP 8 (Slim 4), HTML 5, JavaScript, Mysql.</p>
    </footer>
    {% block template %}{% endblock %}
{% endblock %}
