{% extends "app.layout.html.twig" %}

{% set title='Twoja biblioteka' %}

{% block sitetitle %}{{ title }}{% endblock %}

{% block content %}
    <div class="block library">
        <h1 class="page-title">{{ title }}</h1>
        <ul class="video-list items">
            {% for item in entities %}
                <li>
                    <a href="{{ url_for('library_video', {'video_slug': item.slug}) }}">
                        <div class="video-thumb">
                            <img src="{{ url_for('stream_thumb', {'thumb_id': item.thumb}) }}" alt=""/>
                            <time class="duration">{{ duration(item.duration) }}</time>
                        </div>
                        <h2 class="title">{{ item.title }}</h2>
                        <div class="attrs">
                            <div class="visibility {{ item.visibility }}">
                                {{ visibility(item.visibility) }}
                            </div>
                            <div class="res_codec">
                                <span>{{ item.res_w }}x{{ item.res_h }}</span>
                                <span class="codec">{{ item.codec_name }}</span>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
