{% extends "app.layout.html.twig" %}

{% block sitetitle %}{{ video.title }}{% endblock %}

{% block content %}
    <div class="block page-video">
        <div class="player-box">
            <div class="player">
                <video id="htmlplayer" controls
                       {% if video.thumb %}poster="{{ url_for('stream_thumb', {'thumb_id' : video.thumb}) }}"{% endif %}
                       data-vid="{{ video.slug }}"
                       data-apirv="{{ url_for('register_view', {'video_slug' : video.slug}) }}">
                    <source src="{{ url_for('stream_video', {'video_slug' : video.slug}) }}" type="video/webm">
                </video>
            </div>
            <div class="video-info">
                <h2 class="title">{{ video.title }}</h2>
                <div class="views">
                    <span>{{ video.number_views }} wyświetleń</span>
                    <span>&diams;</span>
                    <span>opublikowano <time>{{ video.published_at|date('d.m.Y') }}</time></span>
                </div>
                {% if video.description %}
                <p class="description">{{ video.description }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block bodyscripts %}
    <script type="module" src="/js/player.js"></script>
{% endblock %}
