{% extends "app.layout.html.twig" %}

{% set title='Szczegóły wideo' %}

{% block sitetitle %}{{ title }}{% endblock %}

{% block content %}
    <div class="library">
        <h1 class="page-title">{{ title }}</h1>
        <div class="video-editor">
            <div class="player">
                <video autoplay controls>
                    <source src="{{ url_for('stream_video', {'video_slug' : video.slug}) }}" type="video/webm">
                </video>
            </div>
            <div class="video-form">
                <form>
                    <input type="text" value="{{ video.title }}" />
                    <textarea>{{ video.description }}</textarea>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
